// @import "./switcher.scss";
.flex-wide {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.dialog-content {
  text-align: center;
}

div.dialog-content div.dialog-c-title {
  padding-bottom: 0;
}
